.technologies {
  display: flex;
  flex-direction: column;
}
.technologies__ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: medium;
  padding: 0.5em;
  list-style: none;
}
.technologies__ul li {
  display: flex;
  align-self: center;
}
